<html lang="en">

<head>
    $header
    <title>$page - $config.author's blog</title>
</head>

<body>
    <div class="content">
        <a href="/">Back</a>
        <h1>$page<span style="font-size: 10px;"> written by <a href="/a/$author">$author</a> at $date</span> <input style="width: 225px;" id="copyurl" onClick="this.setSelectionRange(0, this.value.length)" readonly/></h1>
        <h6>$taglist</h6>
        <p>$pagecontent</p>
    </div>
    <script type="text/javascript">
        document.getElementById("copyurl").value = window.location.href;
    </script>
</body>

</html>