<html lang="en">

<head>
    $header
    <title>Register - $config.author's blog</title>
</head>

<body>
    <div class="content">
        <a href="/">Back</a>
        <h1>Register</h1>
        <form action="" method="post">
            <label for="username">Username:</label>
            <input style="width: 225px;" name="username" placeholder="Username"/><br>
            <label for="password">Password:</label>
            <input style="width: 225px;" name="password" type="password" placeholder="Password"/><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>